html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
nav ul {
    list-style:none;
}
blockquote, q {
    quotes:none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}
*
{
  text-decoration: none;
}
.red-hat-text{
    font-family: "Red Hat Text", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}



body {
  font-family: sans-serif;
  background-color: #fdf6e9;
  color: #333;
}

header {
  background-color: #fff;
  padding: 1rem 0;
  text-align: center;
  padding: 10px;
}

header img {
  display: inline-block;
}

.profile-card {
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 1030px;
  margin: auto;
  border-bottom: 1px solid #21212166;
  margin-bottom: 10px;
  height: 250px;
}

.profile-info {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.avatar {
  width: 190px;
  height: 190px;
  object-fit: cover;
  border-radius: 10px;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 180px;
}

.details h2 {
  margin: 0;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.details .title {
  color: #555;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.edit-profile {
  font-size: 0.9rem;
  text-decoration: none;
  color: #494949;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.like-button{
    color: #505050;
    
}
.edit-profile>img {
  height: 0.7rem;
}


.edit-profile:hover {
  opacity: 0.5;
}

.new-post {
  background-color: #1c1c1c;
  color: white;
  padding: 0.5rem 1.2rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.95rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  /* height: 3.5rem; */
}

.new-post:hover {
  background-color: #212121cc;
}


.grid-layout {
  margin: 3.5% auto;
  max-width: 1030px;
}

#card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 1030px;
  width: 100%;
}

.card {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

.card-img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  display: block;
}

.card-label {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
}

.card-label p {
  margin: 0;
  font-weight: 500;
  font-size: 1em;
}

.like-btn {
  width: 1em;
  height: 1em;
  opacity: 1;
  transition: opacity 0.3s ease;
}


footer {
  background-color: #fdf6e9;
  padding: 3rem 0;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.footer p {
  line-height: 1.75;
}

.footer p span {
  color: #212121b2;
}



/* Modal Styles */

.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(253, 246, 233, 0.4);

}
.modal.show {
  display: flex;
}
.preview-content {
  text-align: center;
}

.preview-content img {
  max-width: 100%;
  max-height: 400px;
  object-fit: contain;
  margin-bottom: 12px;
  border-radius: 8px;
}

.preview-title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 12px;
}

.modal-content h2 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}

.modal-content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 500px;
  max-height: 80vh;
  overflow-y: auto;
  margin: 70px auto;
}

.modal-content h2 {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

label,
input {
  font-size: 16px;
  display: block;
  font-weight: 500;
  color: #212121;
}

input,
textarea {
  padding: 10px;
  border: 1px solid #21212166;
  border-radius: 4px;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
  background-color: #fcf5e5;
}

.modal-buttons {
  display: flex;
  justify-content: end;

  gap: 12px;
  margin-top: 20px;
  /* background-color: #fcf5e5; */
}

.closeButton {
  background-color: #E6E6E6;
  color: black;
  padding: 0.5rem 1.2rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.95rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  
}
.createButton {
  background-color: #282828;
  color: #E6E6E6;
  padding: 0.5rem 1.2rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 0.95rem;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  
}
.like-button {
  cursor: pointer;
}

.like-button.liked {
  color: red;
}




/* Media Queries for Responsive Design */
@media screen and (max-width: 768px) {
  .profile-card {
    flex-direction: column;
    align-items: center;
    height: auto;
    padding: 1rem;
    gap: 1rem;
  }

  .profile-info {
    flex-direction: column;
    text-align: center;
    width: 100%;
  }

  .avatar {
    width: 120px;
    height: 120px;
  }

  .details {
    height: auto;
    align-items: center;
    gap: 0.5rem;
  }

  .bio {
    text-align: center;
  }

  .btn-section {
    width: 100%;
  }

  .new-post {
    width: 100%;
    padding: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  .grid-layout {
    grid-template-columns: 1fr;
    padding: 0 1rem;
  }

  .grid-container {
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }

  .grid-image img {
    width: 100%;
    aspect-ratio: 1 / 1;
  }
  #card-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  max-width: 1030px;
  width: 100%;
}
}


@media screen and (max-width: 480px) {
  .avatar {
    width: 100px;
    height: 100px;
  }

  .details h2 {
    font-size: 1.3rem;
  }

  .details .title {
    font-size: 0.9rem;
  }

  .edit-profile {
    font-size: 0.8rem;
  }

  footer {
    padding: 1.5rem 0;
  }
  #card-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  max-width: 1030px;
  width: 100%;
}
}

/* media query for image modal */
@media (max-width: 600px) {
  #image-modal img {
    max-width: 95vw;
    max-height: 70vh;
  }
  #card-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  max-width: 1030px;
  width: 100%;
}
}